<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play Boggle!</title>
</head>
<body>
    <h1>BOGGLE!</h1>
    <form method="POST">
        <button>START</button>
    </form>
    <h2>Instructions</h2>
    <ul>
        <li>1 point per letter!</li>
        <li>Guess the words on the board!
            <ul>
                <li>Words must be at least three letters in length.</li>
                <li>Each letter after the first must be a horizontal, vertical, or diagonal neighbor of the one before it.</li>
                <li>No individual letter may be used more than once in a word.</li>
            </ul>
        </li>
        <li>You have 60 seconds to guess the words!</li>
        <li><b>HAVE FUN!</b></li>
        <li><a href="https://en.wikipedia.org/wiki/Boggle">Boggle - Wikipedia</a></li>
    </ul>
</body>
</html>